header {
    // position: fixed;
    // z-index: 100;
    top: 0;
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 54px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: var(--space-s);

        a {
            color: white;
            text-decoration: none;
            padding: 8px 12px;
            border: 1px solid transparent;
            transition: all 125ms ease-in-out;

            &:hover {
                color: var(--primary);
                transition: all 125ms ease-in-out;
            }

            .active {
                color: var(--primary);
            }
        }
    }

}