.about-me {
    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-l);

        img {
            height: 400px;
            width: 400px;
            object-fit: cover;
            border-radius: 100%;

        }

        .profile-text {
            text-align: center;
            max-width:400px;
            h2{
                font-weight: 900;                ;
            }
        }
    }
    hr{
        margin-top:var(--space-xl);
        border-color:var(--secondary);
    }
}