:host {
    display: block;
    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-l);

        img {
            height: 400px;
            width: 400px;
            object-fit: cover;
            border-radius: 100%;

        }

        .profile-text {
            text-align: center;
            max-width:400px;
            h2{
                font-weight: 900;                ;
            }
        }
    }
    hr{
        margin-top:var(--space-xl);
        margin-bottom:var(--space-xl);
        border-color:var(--secondary);
    }
    .career-step-wrapper{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
}

[data-aos="staggered-slide-left"]{
    transform:translateX(15vw);
    opacity: 0;
    transition-property: transform,opacity;
    transition-delay: var(--animation-delay);
    &.aos-animate{
        transform:translateX(00);
        opacity:1;
    }
}