:host {
    display: flex;
    justify-content: center;

    .highlight {
        font-size: 64px;
        font-weight: 800;
        color: var(--secondary);
    }

    a {
        color: var(--secondary);
        text-decoration: none;

        &:hover {
            color: #2dfcd8d4;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;

        &::ng-deep {
            .mat-focused {

                .mat-form-field-ripple {
                    /*change color of underline when focused*/
                    background-color: var(--secondary) !important;
                }

                .mat-form-field-label {
                    /*change color of label when focused*/
                    color: var(--secondary) !important;
                }
            }

            .mat-form-field-underline {
                background-color: var(--secondary) !important;
            }
        }

        textarea {
            resize: none;
            height: 150px;
        }
    }



    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: white !important;
    }

    .mat-form-field-underline {
        /*change color of underline*/
        background-color: white !important;
    }

    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: var(--secondary) !important;
        ;
    }

}

.full-w {
    width: 100%;
    max-width: 640px;
}

button {
    width: 150px;
    height: 60px;
    align-self: flex-end;
    transition: 0.2s;

    &:hover {
        box-shadow: inset 0 0 0 2em var(--secondary);
        transition: 0.2s;
    }
}