:host {
    display: flex;
    justify-content: center;
    text-align: center;

    .highlight {
        font-size: 64px;
        font-weight: 800;
        color: var(--secondary);

        @media(max-width: 800px) {
            font-size: 48px;
        }
    }

    a {
        color: var(--secondary);
        text-decoration: none;

        &:hover {
            color: #2dfcd8d4;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;


        .mat-input-element {
            caret-color: var(--secondary) !important;
        }

        .mat-form-field-flex {
            background-color: var(--primary) !important;
        }

        &::ng-deep {
            .mat-focused {

                .mat-form-field-ripple {
                    /*change color of underline when focused*/
                    background-color: var(--secondary) !important;
                }

                .mat-form-field-label {
                    /*change color of label when focused*/
                    color: var(--secondary) !important;
                }

                .mat-form-field-outline {
                    color: var(--secondary) !important;
                }
            }

            .mat-form-field-underline {
                background-color: var(--secondary) !important;
            }

            .mat-form-field-flex {
                background-color: var(--grey) !important;
            }

        }

        textarea {
            resize: none;
            height: 150px;
        }
    }


    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: white !important;
    }

    .mat-form-field-underline {
        /*change color of underline*/
        background-color: white !important;
    }

    .mat-form-field-outline {
        /*change color of underline*/
        color: white !important;
    }

    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: var(--secondary) !important;
        color: var(--secondary) !important;
        ;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var(--grey) inset !important;
        box-shadow: 0 0 0 30px var(--grey) inset !important;
        -webkit-text-fill-color: white !important;
    }

    .send-btn {
        padding: 24px 120px;
        align-self: flex-end;
        text-align: center;
        transition: 0.2s;

        @media(min-width:450px) and (max-width:800px) {
            width: 40%;
            padding: 24px 0;
        }

        @media(max-width:451px) {
            width: 100%;
        }
    }
}

.full-w {
    width: 100%;
    max-width: 685px;
}

.success {
    color: var(--secondary);
    text-align: center;
}
.success-btn {
    padding: 24px 60px;
    align-self: flex-end;
    text-align: center;
    transition: 0.2s;

    @media (max-width:600px) {      
        padding: 24px 30px;
    }
}