.intro {
    display: flex;
    align-items: center;
    justify-content: right;
    height: calc(100vh - 98px);

    .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: var(--space-xxl);
        line-height: 1.8;
    
        button {
            padding: 32px 120px;
            font-size: larger;
            margin-top: var(--space-s);
        }
    }
    img {
        min-width: 500px;
        max-width: 40vw;
        height: calc(100vh - 98px);
        object-fit: cover;
    }
}

body {
    padding-right: 0 0 !important;
}