
    <div class="text" [@entry]="'true'">
        <h1>Hi,<br>
            <div>
                I'm
                <div class="highlight-wrapper">
                    <span class="highlight"></span>
                    <span class="changecolor">Sabine</span>
                </div>
                Detering,
            </div>
            <div>
                <span>Web Dev</span>
                <div class="insert">e</div>
                <span class="right-from-insert">loper</span>
            </div>
        </h1>
        <button href="#contact" class="contact-btn btn-secondary">Contact me</button>
    </div>
    <img class="laptop" src="assets/img/laptop.jpg" alt="">

<a class="arrow-btn" [@arrowAnimation]="'true'" href="#skills"><img src="assets/img/arrow.png" alt=""></a>