:host {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    height: calc(100vh - 107px);

    .text {
        position: absolute;
        z-index:5;
        top: 50%;
        transform: translateY(-65%);
        left: var(--pd-lr);
        line-height: 1.7;

        .highlight-wrapper {
            display: inline-block;
            position: relative;

            .highlight {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
                width: 0%;
                background-color: #5c5c5c;
            }

            .changecolor {
                color: var(--primary);
            }
        }

        .insert {
            display: inline-block;
            color: var(--secondary);
        }

        button {
            padding: 24px 120px;
            font-size: larger;
            margin-top: var(--space-s);
        }
    }

    .laptop {
        min-width: 500px;
        max-width: 40vw;
        margin-right: -60px;
        // height: calc(100vh - 107px);
        transform: translateY(10vh);
        object-fit: contain;
        // animation: zoomIn 2s ease-in-out;
    }

    // @keyframes zoomIn {
    //     from{transform: scale(0.7);}
    //     to {
    //         transform: scale(1);
    //     }

    // }
}

.arrow-btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translatex(-50%);
}