.intro {
    display: flex;
    align-items: center;
    justify-content: right;
    height: calc(100vh - 98px);

    .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: var(--space-xxl);
        line-height: 1.7;

        button {
            padding: 24px 120px;
            font-size: larger;
            margin-top: var(--space-s);
        }
    }

    img {
        min-width: 500px;
        max-width: 40vw;
        height: calc(100vh - 98px);
        object-fit: cover;
    }
}

.arrow-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 64px;
    height: 64px;
}