.portfolio {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: var(--space-s);

    button {
        // padding:var(--space-xs) var(--space-s);
        width: 150px;
        height: 60px;
    }

    .active {
        background-color: var(--primary);
        color: white;
    }
}

.projects {
    margin-top: var(--space-m);
    max-width: 1600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-m);
}