:host {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    width: 500px;
    max-width: 100%;
    gap: 5%;
    // gap: var(--space-s);

    button {
        // width: 150px;
        width: 30%;
        height: 60px;

        @media(max-width: 470px) {
            height: 50px;
            font-size: 14px;
        }
        &:hover {
            &:not(.active) {
                background: linear-gradient(-45deg, var(--primary), 15%, transparent, 85%,
                        var(--primary));
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }

}



.active {
    background-color: var(--primary);
    color: white;
}


.projects {
    margin-top: var(--space-m);
    max-width: 1600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-m);
}