:host{
    background-color: white;
    width: 240px;
    height: 160px;
    border-radius: 10px;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}


.circle {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 100%;
    padding: var(--space-s);
    box-shadow: 0px 5px 15px 5px rgba(209, 209, 209, 0.8);

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        // padding: var(--space-xs);
    }

}