<div class='impressum bg-grey plr-w ptb'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Sabine Detering <br>
        Heideweg 14A<br>
        76149 Karlsruhe <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Sabine Detering<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: 0152-53458810<br>
        E-Mail: <a href='mailto:sabine.detering@web.de'>sabine.detering@web.de</a><br>
    </p>
    <br>
    <p> Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
            href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und
            Familienrecht</a>
    </p>

    <p>The logo was created with <a href="LogoMakr.com/app"></a></p>
    <p> Photos amongst others by David Monje, <a
            href="https://unsplash.com/photos/qu8w7x-0gw4?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">Devin
            Pickel</a>, <a
                href="https://unsplash.com/@firmbee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Firmbee.com</a> on <a href="https://unsplash.com/">Unsplash</a></p>
</div>