.project {
    position: relative;

    img {
        display: block;
        width: 500px;
        height: 300px;
    }

    .project-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: var(--space-m);
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        // transition:all 125ms ease-in-out; /*kein Effekt*/
        button {
            background-color: white;
            box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.3);
            width: 150px;
            height: 60px;
            transition: 0.2s;

            &:hover {
                color: white;
                box-shadow: inset 0 0 0 2em var(--primary);
                transition: 0.2s;
            }
        }
    }

    .title {
        color: var(--primary);
        font-weight: bold;
    }


}