:root {
    --primary: #Fa2759;
    --secondary: #2Dfcd8;
    --grey: #1a1a1a;
    --space-xs: 12px;
    --space-s: 24px;
    --space-m: 40px;
    --space-l: 54px;
    --space-xl: 60px;
    --space-xxl: 105px;
    --pd-lr: 15vw;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: regular;
    color: white;
    scroll-behavior: smooth;
}

h1 {
    font-size: 64px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom:var(--space-m);
}
h3{
    font-size: 24px;
    font-weight: 500;
    color:var(--primary);
    margin-bottom:12px;
}
p{
    margin-bottom:8px;
}


.plr-w {
    width: 100vw;
    max-width: 100%;
    padding-left: var(--pd-lr);
    padding-right: var(--pd-lr);
}

.ptb{
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: var(--grey);
}


button {
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    color: var(--primary);
    border: 2px solid var(--primary);

    &:hover {
        background-color: var(--primary)!important;
        color: white;
    }
}

.btn-secondary {
    color: var(--secondary);
    border: 2px solid var(--secondary);
    cursor: pointer;

    &:hover {
        background-color: var(--secondary);
        color: white;
    }
}


/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/inter-v8-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/inter-v8-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/inter-v8-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/inter-v8-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/inter-v8-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/inter-v8-latin-300.svg#Inter') format('svg');
    /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/inter-v8-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/inter-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/inter-v8-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/inter-v8-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/inter-v8-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/inter-v8-latin-regular.svg#Inter') format('svg');
    /* Legacy iOS */
}

/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/inter-v8-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/inter-v8-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/inter-v8-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/inter-v8-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/inter-v8-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/inter-v8-latin-500.svg#Inter') format('svg');
    /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/inter-v8-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/inter-v8-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/inter-v8-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/inter-v8-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/inter-v8-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/inter-v8-latin-700.svg#Inter') format('svg');
    /* Legacy iOS */
}

/* inter-800 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/inter-v8-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('assets/fonts/inter-v8-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('assets/fonts/inter-v8-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/inter-v8-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('assets/fonts/inter-v8-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('assets/fonts/inter-v8-latin-800.svg#Inter') format('svg');
    /* Legacy iOS */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
